<a href="#/artists/{{ArtistName}}">
  <button type="button" class="btn btn-info">Back</button>
</a>

<h1>Spotify API AngularJS sandbox</h1>

<h2>Artist: {{ArtistName}}</h2>

<h3>Albums:</h3>

<ul class="albums">
  <li ng-repeat="items in albums" class="thumbnail">

    <a href="#/tracks/{{items.id}}/{{items.name}}/{{ArtistName}}">{{items.name}}
      <img ng-src="{{items.images[2].url}}" align="center">
    </a>

  </li>
</ul>

<a href="#/artists/{{ArtistName}}">
  <button type="button" class="btn btn-info">Back</button>
</a>
