<a class="link-back" href="#/tracks/{{AlbumId}}/{{AlbumName}}/{{ArtistName}}">
	<button type="button" class="btn btn-info">Back</button>
</a>

<h1>Spotify API AngularJS sandbox</h1>

<a href="#/albums/{{ArtistId}}/{{ArtistName}}">
	<h2>Artist: {{ArtistName}}</h2>
</a>

<a href="#/tracks/{{AlbumId}}/{{AlbumName}}/{{ArtistName}}">
	<h3>Album: {{AlbumName}} ({{AlbumYear}})</h3>
	<img ng-src="{{AlbumThumbnail}}">
</a>

<h4>Track: {{TrackName}}</h4>

<div ng-if="track.preview_url">
	<audio class='play' ng-src="{{track.preview_url}}" controls autoplay>
	</audio>
</div>

<div ng-if=" ! track.preview_url">
 <p>Sorry. No 30 seconds free preview available :(</p>
</div>
