<a class="link-back" href="#/tracks/{{track.album.id}}/{{AlbumName}}/{{ArtistName}}">
	<button type="button" class="btn btn-info">Back</button>
</a>

<h1>Spotify API AngularJS sandbox</h1>

<h2>Artist: {{ArtistName}}</h2>

<h3>Album: {{AlbumName}}</h3>

<img ng-src="{{AlbumThumbnail}}">

<h4>Track: {{TrackName}}</h4>

<div ng-if="track.preview_url">
	<audio class='play' ng-src="{{track.preview_url}}" controls autoplay>
	</audio>
</div>

<div ng-if=" ! track.preview_url">
 <p>Sorry. No 30 seconds free preview available :(</p>
</div>
