<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">


      <h1>Spotify API AngularJS sandbox</h1>

      Search: <input ng-model="Search" autofocus ng-change="typeSearch(Search)"><br>

<!--
<span ng-if="Search">
  {{typeSearch(Search)}}
  {{1+1}}
</span>
-->

<!--
{{'/artists/'+Search}}

<p>{{location.path()}}</p>
-->

    </div>

    <div class="col-md-10">
      <!--Body content-->


      <ul class="artists">
        <li ng-repeat="items in artists | filter:Search" class="thumbnail">

          <a href="#/albums/{{items.id}}/{{items.name}}">{{items.name}}</a>

        </li>
      </ul>



    </div>
  </div>
</div>