<a class="link-back" href="#/albums/{{ArtistId}}/{{ArtistName}}">
  <button type="button" class="btn btn-info">Back</button>
</a>

<h1>Spotify API AngularJS sandbox</h1>

<a href="#/albums/{{ArtistId}}/{{ArtistName}}">
  <h2>Artist: {{ArtistName}}</h2>
</a>

<h3>Album: {{AlbumName}} ({{AlbumYear}})</h3>

<img ng-src="{{AlbumThumbnail}}">

<h4>Tracks:</h4>

<ul class="tracks">
  <li ng-repeat="items in tracks" class="thumbnail">

    <a href="#/play/{{items.id}}/{{items.name}}/{{AlbumName}}/{{ArtistName}}">{{items.name}}</a>

  </li>
</ul>

<a class="link-back" href="#/albums/{{ArtistId}}/{{ArtistName}}">
  <button type="button" class="btn btn-info">Back</button>
</a>
