
a:hover{
	text-decoration: none;
}
a:visited{
	color: #1c5f15;
}

.navbar{
	font-size: 25px;
	background-color:rgba(255, 255, 255, 0.9);
}

#text-logo {
	font-family: "Bradley Hand", "Comic Sans MS", "Noteworthy";
	color: #1c5f15;
	font-size: 30px;
}

.flag{
	height: 40px;
}


.blog-post{
	color:white;
	margin:10px;
	overflow:hidden; /* rework! */
	text-overflow: ellipsis; /* rework! */
}

h1{
	font-size: 30px;
}
h2{
	font-size: 25px;
}
h3{
	font-size: 12px;
}
h4{
	font-size: 12px; /*responsive*/
}
h5{
	font-size: 10px;
}

#primary-post{
	background-image: url(../images/adopta-la-protectora-animals-tarragona-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}

#primary-text{
	color:white;
	background-color: #35b026;
	margin-left: 30px;
	margin-right: 30px;
	padding: 15px;
	padding-top: 0px;
	position: absolute;
	top:30px;
}

#secondary-post{
	background-image: url(../images/mapa.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;

}

#secondary-text{
	color:white;
	background-color: #35b026;
	margin-left: 200px; /* responsive */
	margin-right: 30px;
	margin-top: 10px;
	padding: 10px;

	position: relative;
	top:30px;

}


#terciary-post{
	background-image: url(../images/necessitem-ajuda-a-la-protectora.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;

}

#terciary-text{
	color:white;
	background-color: #35b026;
	margin-left: 200px; /* responsive */
	margin-right: 30px;
	margin-top: 10px;
	padding: 10px;

	position: relative;
	top:30px;

}

.standard-post {
	color: #1c5f15;
	background-color: white;
	background-repeat: no-repeat;
	height: 120px;
	overflow:hidden;
	text-overflow: ellipsis;
}

.standard-text-post {
	color: #1c5f15;
	margin-top: 0px;
	margin-left: 250px; /* responsive */
	margin-right: 30px;
	padding: 0px;
}

#post-1{
	background-image: url(../images/abandono-animales-madrid-2.jpg);
	background-size: contain;
}

#text-post-1{

}

#post-2{
	background-image: url(../images/calendari.jpg);
	background-size: 213px;
}

#text-post-2{
}

#post-3{
	background-image: url(../images/facebook-logo-long.png);
	background-size: 220px;
}

#text-post-3{
}

#post-4{
	background-image: url(../images/samarretes.jpg);
	background-size: 215px;
}

#text-post-4{
}

#post-5{
	background-image: url(../images/la-protectora-qui-som.jpg);
	background-size: 215px;
}

#text-post-5{
}

#post-6{
	background-image: url(../images/paypal-logo-300x300.png);
	background-size: 215px;
}

#text-post-5{
}



.blog-sidebar{
	color: #1c5f15;
	font-size: 18px;
}

.blog-sidebar a{
	font-size: 30px;
}

.icon{
	width: 40px;
	margin-right: 10px;
}

ul {
	list-style-type: circle;
}

.facebook-post{
 padding: 5px;
}

#footer {
	background-color: #f5f5f5;
}

#footer-text {
	color: #1c5f15;
	padding: 20px;
}


.expanded-article {
	color: #1c5f15;
	font-size: 18px;

}

img.expanded-article {
	padding: 20px;
}



/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	h4{
		font-size: 0px;
	}
	#links-collection{
		display: none;
	}
	.facebook-post{
		display: none;
	}
	.icon{
		width: 80px;
	}
	.blog-sidebar a{
		font-size: 30px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	h4{
		font-size: 0px;
	}
	.icon{
		width: 80px;
	}
	.blog-sidebar a{
		font-size: 30px;
	}
	#links-collection{
		display: none;
	}
	.facebook-post{
		display: none;
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	h4{
    	font-size: 14px;
  }
	#links-collection{
		display: none;
	}
	.facebook-post{
		display: block;
	}
	.icon{
		width: 40px;
	}
	.blog-sidebar a{
		font-size: 15px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	h4{
    	font-size: 14px;
    }
	#secondary-text{
		margin-left: 400px;
	}
	#terciary-text{
		margin-left: 400px;
	}
	#links-collection{
		display: block;
	}
	.facebook-post{
		display: block;
	}
	.icon{
		width: 40px;
	}
	.blog-sidebar a{
		font-size: 15px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	#secondary-text{
		margin-left: 400px;
	}
	#terciary-text{
		margin-left: 400px;
	}
	h4{
    	font-size: 14px;
  }
  #links-collection{
		display: block;
	}
	.facebook-post{
		display: block;
	}
	.icon{
		width: 40px;
	}
	.blog-sidebar a{
		font-size: 15px;
	}
}

